In [102]:
! pip install seaborn

Requirement already satisfied: seaborn in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pandas>=1.2 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\marin_smb5c9y\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

In [92]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [93]:
data = pd.read_csv("./heart.csv")
data = pd.DataFrame(data)

In [94]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [95]:
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

## Análise Geral da Base

In [96]:
# Função para conceder informações sobre o DataFrame 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [97]:
#Outro jeito de saber se há valores nulos no dataset
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [98]:
 #Verificando a frequencia dos targets 
data['target'].value_counts()

# Verificando a contagem ordenada de idades maior do que 40
# data[data['age'] > 40].age.sort_values().value_counts(sort=False)

target
1    526
0    499
Name: count, dtype: int64

In [99]:
# Verificando a presença de linhas com dados iguais no dataset
data.sort_values(by='age')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
64,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
60,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
118,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
668,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
143,34,1,3,118,182,0,0,174,0,0.0,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1
99,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1
162,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0
387,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0
160,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0

In [100]:
# Identificando quantas linhas duplicadas existem no DataFrame
data.duplicated().value_counts()

True     723
False    302
Name: count, dtype: int64

In [101]:
# Identificando quais linhas são duplicatas
data[data.duplicated()].sort_values(by='age')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
64,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
668,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
118,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
572,34,1,3,118,182,0,0,174,0,0.0,2,0,2,1
779,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,74,0,1,120,269,0,0,121,1,0.2,2,1,2,1
535,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1
965,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1
387,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0
162,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0

## Exploração Estatística de Atributos Selecionados

In [106]:
# Atributos escolhidos para análise
data[['age', 'trestbps', 'chol', 'oldpeak']].sort_values(by='age')

     age  trestbps  chol  oldpeak
64    29       130   204      0.0
60    29       130   204      0.0
118   29       130   204      0.0
668   29       130   204      0.0
143   34       118   182      0.0
..   ...       ...   ...      ...
535   76       140   197      1.1
99    76       140   197      1.1
162   77       125   304      0.0
387   77       125   304      0.0
160   77       125   304      0.0

[1025 rows x 4 columns]

In [ ]:
data[['age', 'trestbps', 'chol', 'oldpeak']].describe()

               age     trestbps        chol      oldpeak
count  1025.000000  1025.000000  1025.00000  1025.000000
mean     54.434146   131.611707   246.00000     1.071512
std       9.072290    17.516718    51.59251     1.175053
min      29.000000    94.000000   126.00000     0.000000
25%      48.000000   120.000000   211.00000     0.000000
50%      56.000000   130.000000   240.00000     0.800000
75%      61.000000   140.000000   275.00000     1.800000
max      77.000000   200.000000   564.00000     6.200000

#### Idade

In [143]:
# Média
age_mean = data['age'].mean()

# Moda 
age_mode = data['age'].mode()

# Mediana 
age_median = data['age'].median()

# Percentis 20, 50, 70
age_quantiles_20_50_70 = data['age'].quantile([0.2, 0.5, 0.7])

# Quartis Q1, Q2, Q3
age_quantiles = data['age'].quantile([0.25, 0.5, 0.75])

# Variancia
age_varr = data['age'].var()

# Desvio Padrão
age_std = data['age'].std()

print("Estatísticas sobre Idade)")
print(f"- Média: {age_mean}")
print(f"- Moda: {age_mode.iloc[0]}")
print(f"- Median: {age_median}")
print(f"- Percentis 20, 50, 70: {age_quantiles_20_50_70.tolist()}")
print(f"- Quartis Q1, Q2, Q3: {age_quantiles.tolist()}")
print(f"- Variancia: {age_varr}")
print(f"- Desvio Padrao: {age_std}")

Estatísticas sobre Idade)
- Média: 54.43414634146342
- Moda: 58
- Median: 56.0
- Percentis 20, 50, 70: [45.0, 56.0, 60.0]
- Quartis Q1, Q2, Q3: [48.0, 56.0, 61.0]
- Variancia: 82.3064500762195
- Desvio Padrao: 9.072290233244278

#### Pressão Arterial em Repouso

In [145]:
# Média
trestbps_mean = data['trestbps'].mean()

# Moda 
trestbps_mode = data['trestbps'].mode()

# Mediana 
trestbps_median = data['trestbps'].median()

# Percentis 20, 50, 70
trestbps_quantiles_20_50_70 = data['trestbps'].quantile([0.2, 0.5, 0.7])

# Quartis Q1, Q2, Q3
trestbps_quantiles = data['trestbps'].quantile([0.25, 0.5, 0.75])

# Variancia
trestbps_varr = data['trestbps'].var()

# Desvio Padrão
trestbps_std = data['trestbps'].std()

print("Estatísticas sobre Pressão em Repouso)")
print(f"- Média: {trestbps_mean}")
print(f"- Moda: {trestbps_mode.iloc[0]}")
print(f"- Median: {trestbps_median}")
print(f"- Percentis 20, 50, 70: {trestbps_quantiles_20_50_70.tolist()}")
print(f"- Quartis Q1, Q2, Q3: {trestbps_quantiles.tolist()}")
print(f"- Variancia: {trestbps_varr}")
print(f"- Desvio Padrao: {trestbps_std}")

Estatísticas sobre Pressão em Repouso)
- Média: 131.61170731707318
- Moda: 120
- Median: 130.0
- Percentis 20, 50, 70: [120.0, 130.0, 140.0]
- Quartis Q1, Q2, Q3: [120.0, 130.0, 140.0]
- Variancia: 306.835409679878
- Desvio Padrao: 17.516718005376408

#### Colesterol Total em mg/dl

In [146]:
# Média
chol_mean = data['chol'].mean()

# Moda 
chol_mode = data['chol'].mode()

# Mediana 
chol_median = data['chol'].median()

# Percentis 20, 50, 70
chol_quantiles_20_50_70 = data['chol'].quantile([0.2, 0.5, 0.7])

# Quartis Q1, Q2, Q3
chol_quantiles = data['chol'].quantile([0.25, 0.5, 0.75])

# Variancia
chol_varr = data['chol'].var()

# Desvio Padrão
chol_std = data['chol'].std()

print("Estatísticas sobre Colesterol Total)")
print(f"- Média: {chol_mean}")
print(f"- Moda: {chol_mode.iloc[0]}")
print(f"- Median: {chol_median}")
print(f"- Percentis 20, 50, 70: {chol_quantiles_20_50_70.tolist()}")
print(f"- Quartis Q1, Q2, Q3: {chol_quantiles.tolist()}")
print(f"- Variancia: {chol_varr}")
print(f"- Desvio Padrao: {chol_std}")

Estatísticas sobre Colesterol Total)
- Média: 246.0
- Moda: 204
- Median: 240.0
- Percentis 20, 50, 70: [204.0, 240.0, 268.0]
- Quartis Q1, Q2, Q3: [211.0, 240.0, 275.0]
- Variancia: 2661.787109375
- Desvio Padrao: 51.59251020618206

#### Oldpeak

In [147]:
# Média
oldpeak_mean = data['oldpeak'].mean()

# Moda 
oldpeak_mode = data['oldpeak'].mode()

# Mediana 
oldpeak_median = data['oldpeak'].median()

# Percentis 20, 50, 70
oldpeak_quantiles_20_50_70 = data['oldpeak'].quantile([0.2, 0.5, 0.7])

# Quartis Q1, Q2, Q3
oldpeak_quantiles = data['oldpeak'].quantile([0.25, 0.5, 0.75])

# Variancia
oldpeak_varr = data['oldpeak'].var()

# Desvio Padrão
oldpeak_std = data['oldpeak'].std()

print("Estatísticas sobre Oldpeak)")
print(f"- Média: {oldpeak_mean}")
print(f"- Moda: {oldpeak_mode.iloc[0]}")
print(f"- Median: {oldpeak_median}")
print(f"- Percentis 20, 50, 70: {oldpeak_quantiles_20_50_70.tolist()}")
print(f"- Quartis Q1, Q2, Q3: {oldpeak_quantiles.tolist()}")
print(f"- Variancia: {oldpeak_varr}")
print(f"- Desvio Padrao: {oldpeak_std}")

Estatísticas sobre Oldpeak)
- Média: 1.0715121951219515
- Moda: 0.0
- Median: 0.8
- Percentis 20, 50, 70: [0.0, 0.8, 1.5]
- Quartis Q1, Q2, Q3: [0.0, 0.8, 1.8]
- Variancia: 1.3807501524390244
- Desvio Padrao: 1.175053255150176